{% extends 'base.html' %}

{% block title %}
  Mail | GRUM
{% endblock %}

{% block logged_in %}
  <div ng-controller="NavController" class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      <!-- Messages: style can be found in dropdown.less-->
      <li class="dropdown messages-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-envelope-o"></i>
          {% raw %}
            <span class="label label-success">{{ (emails | filter:{read: false}).length }}</span>
          {% endraw %}
        </a>
        <ul class="dropdown-menu">
          {% raw %}
            <li class="header">New mail <em>{{ (emails | filter:{read: false}).length }}</em></li>
          {% endraw %}
          
          <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu">
              {% raw %}
                <li ng-repeat="email in filter = emails | filter:{read: false}" ng-click="loadMessage(email.id, true)"><!-- start message -->
                  <a href="#">
                    <div class="pull-left">
                      <img ng-src="{{ email.gravatar }}" class="img-circle" alt="User Image"/>
                    </div>
                    <h4>
                      {{ email.from }}
                      <small><i class="fa fa-clock-o"></i> {{ email.fromnow }}</small>
                    </h4>
                    <p>{{ email.plaintext_body | limitTo:20}}...</p>
                  </a>
                </li><!-- end message -->
              {% endraw %}
            </ul>
          </li>
        </ul>
      </li>
      {#
      <!-- Notifications: style can be found in dropdown.less -->
      <li class="dropdown notifications-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-bell-o"></i>
          <span class="label label-warning">10</span>
        </a>
        <ul class="dropdown-menu">
          <li class="header">You have 10 notifications</li>
          <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu">
              <li>
                <a href="#">
                  <i class="ion ion-ios-people info"></i> Notification title
                </a>
              </li>
              ...
            </ul>
          </li>
          <li class="footer"><a href="#">View all</a></li>
        </ul>
      </li>
      #}
      {#
      <!-- Tasks: style can be found in dropdown.less -->
      <li class="dropdown tasks-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-flag-o"></i>
          <span class="label label-danger">9</span>
        </a>
        <ul class="dropdown-menu">
          <li class="header">You have 9 tasks</li>
          <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu">
              <li><!-- Task item -->
                <a href="#">
                  <h3>
                    Design some buttons
                    <small class="pull-right">20%</small>
                  </h3>
                  <div class="progress xs">
                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                      <span class="sr-only">20% Complete</span>
                    </div>
                  </div>
                </a>
              </li><!-- end task item -->
              ...
            </ul>
          </li>
          <li class="footer">
            <a href="#">View all tasks</a>
          </li>
        </ul>
      </li>
      #}
      <!-- User Account: style can be found in dropdown.less -->
      <li class="dropdown user user-menu">
        {% raw %}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <img ng-src="{{ user.url }}" class="user-image" alt="User Image"/>
          <span class="hidden-xs">Name here</span>
        </a>
        <ul class="dropdown-menu">
          <!-- User image -->
          <li class="user-header">
            <img src="{{ user.url }}" class="img-circle" alt="User Image"/>
            <p>
              Name here again?
              <small>This could be fun</small>
            </p>
          </li>
          <!-- Menu Body -->
          <!-- Menu Footer-->
          <li class="user-footer">
            <div class="pull-left">
              <a href="#" class="btn btn-default btn-flat">Profile</a>
            </div>
            <div class="pull-right">
              <a href="#" class="btn btn-default btn-flat">Sign out</a>
            </div>
            {% endraw %}
          </li>
        </ul>
      </li>
    </ul>
  </div>
  
{% endblock %}


{% block body %}

  <!-- Content Wrapper. Contains page content -->
  <div ng-app="grum" ng-controller="InboxController" class="content-wrapper">

    {% raw %}
      <div id="focus_email" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title">{{ focus_mail.subject }}</h4>
              <h7 class="modal-title">{{ focus_mail.from }}</h7>
            </div>
            <div ng-bind-html="renderHtml(focus_mail.html)" class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left"  data-dismiss="modal">Close</button>
              <button type="button" ng-click="markUnread(focus_mail.id)" class="btn btn-primary">Mark as Unread</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
    {% endraw %}


    
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Mailbox
        {% raw %}
          <small>{{ emails.length }} Messages</small>
        {% endraw %}
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Mailbox</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
          <a href="compose.html" class="btn btn-primary btn-block margin-bottom">Compose</a>
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Folders</h3>
            </div>
            <div  class="box-body no-padding">
              <ul class="nav nav-pills nav-stacked">
                {% raw %}
                  <li class="active"><a href="#"><i class="fa fa-inbox"></i> Inbox <span class="label label-primary pull-right">{{ (emails | filter:{read: 'false'}).length }}</span></a></li>
                {% endraw %}
                {#
                <li><a href="#"><i class="fa fa-envelope-o"></i> Sent</a></li>
                <li><a href="#"><i class="fa fa-file-text-o"></i> Drafts</a></li>
                <li><a href="#"><i class="fa fa-filter"></i> Junk <span class="label label-waring pull-right">65</span></a></li>
                <li><a href="#"><i class="fa fa-trash-o"></i> Trash</a></li>
                #}
              </ul>
            </div><!-- /.box-body -->
          </div><!-- /. box -->
          {#
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Labels</h3>
            </div>
            <div class="box-body no-padding">
              <ul class="nav nav-pills nav-stacked">
                <li><a href="#"><i class="fa fa-circle-o text-red"></i> Important</a></li>
                <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> Promotions</a></li>
                <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> Social</a></li>
              </ul>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
          #}
        </div><!-- /.col -->
        <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Inbox</h3>
              <div class="box-tools pull-right">
                {#
                <div class="has-feedback">
                  <input type="text" class="form-control input-sm" placeholder="Search Mail"/>
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
                #}
              </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="mailbox-controls">
                {#
                <!-- Check all button -->
                <button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
                <div class="btn-group">
                  <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                  <button class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                  <button class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                </div><!-- /.btn-group -->
                #}
                <button ng-click="Sync()" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                <div class="pull-right">
                  <!-- 1-50/200 -->
                  {#
                  <div class="btn-group">
                    <button class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                    <button class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                  </div><!-- /.btn-group -->
                  #}
                </div><!-- /.pull-right -->
              </div>
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                  <tbody>

                    
                    <!-- begin messages -->
                    {% raw %}
                      <span class="box-header" ng-show="!emails.length"><em>No Emails!</em></span>
                    <tr ng-repeat="email in emails" >
                      <td ng-click="focusEmail($index)" class="mailbox-icon"><img ng-src="{{ email.gravatar }}" class="img-circle" alt="Circular Image"></td>
                      <tj ng-click="focusEmail($index)" class="mailbox-name"><a href="#">{{ email.from }}</a></td>
<td ng-click="focusEmail($index)" class="mailbox-subject">
  <span ng-if="email.read == true">
    <em>{{ email.subject }}</em>
  </span>
  <span ng-if="email.read == false">
    <b>{{ email.subject }}</b>
  </span>
  - {{ email.plaintext_body | limitTo:120}}</td>
  <td class="mailbox-date">{{ email.fromnow }}</td>
<td class="mailbox-timeago"><abbr class="loaded timeago" title="{{ email.timestamp }}"></abbr></td>
<td class="mailbox-markread" ng-click="markRead($index)" ><span class="fa fa-align-right"></span>
{% endraw %}
<!-- end message -->


</tr>
</tbody>
</table><!-- /.table -->
</div><!-- /.mail-box-messages -->
</div><!-- /.box-body -->
<div class="box-footer no-padding">
  <div class="mailbox-controls">
    <!-- Check all button -->
    <button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>                    
    <div class="btn-group">
      <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
      <button class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
      <button class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
    </div><!-- /.btn-group -->
    <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
    <div class="pull-right">
      <!-- 1-50/200 -->
      {#
      <div class="btn-group">
        <button class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
        <button class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
      </div><!-- /.btn-group -->
      #}
    </div><!-- /.pull-right -->
  </div>
</div>
</div><!-- /. box -->

  <div ng-controller="ComposeController" class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Compose New Message</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
      <div class="form-group">
        <input class="form-control" placeholder="To:">
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="Subject:">
      </div>
      <div class="form-group">
        <textarea id="compose-textarea" class="form-control" placeholder="Nothing to Say?..." cols="80" rows="5" ></textarea>
      </div>
    </div><!-- /.box-body -->
    <div class="box-footer">
      <div class="pull-right">
        <button class="btn btn-default"><i class="fa fa-pencil"></i> Draft</button>
        <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send</button>
      </div>
      <button class="btn btn-default"><i class="fa fa-times"></i> Discard</button>
    </div><!-- /.box-footer -->
  </div><!-- /. box -->


</div><!-- /.col -->
<div class="col-md-3"></div>
</div><!-- /.row -->
</section><!-- /.content -->
</div><!-- /.content-wrapper -->
<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 2.0
  </div>
  <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
</footer>
</div><!-- ./wrapper -->

{% endblock %}

{% block endjs %}
  <script src="{{ url_for('static', filename='lib/js/moment.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/js/jquery.timeago.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/js/md5.js')}}"</script>
          <script>
            jQuery(document).ready(function() {
            jQuery("abbr.timeago").timeago();
            });
          </script>
          <script type="application/javascript" src="{{ url_for('static', filename='mail.js')}}"></script>
        {% endblock %}
